@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Ovo&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.distressed-link,
.conseil-link {
  font-weight: 300;
  /* Light */
  font-size: 20px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

blockquote {
  font-family: 'Ovo', serif;
}

/* Titre principal */

.h1-index {
  font-family: 'Ovo', serif;
}

/* Par défaut */

.image-default {
  display: block;
}

.group-restructuration:hover ~ .relative .image-restructuration {
  display: block;
}

.img-sphere{
}